[submodule "Sonar.UserProfile"]
	path = Sonar.UserProfile
	url = https://github.com/is-tech-y24-1/team-4-1
[submodule "Sonar.Player"]
	path = Sonar.Player
	url = https://github.com/is-tech-y24-1/team-4-3
